 @font-face {
     font-family: shinkofonts;
     src: url("Cookie-Regular.ttf");
 }

 #mo {
     /* font-family: 'Great Vibes', cursive; */
     font-family: shinkofonts;
     text-align: center;
     font-size: 80px;
 }

 #a1 {
     font-style: italic;
     text-align: center;
 }

 .the-first {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     border: 2px black solid;

 }

 .A1 {
     /* text-align: center; */
     display: flex;
     flex-direction: column;
     flex: 1;
     border: 1px black solid;
     padding: 4px;
 }

 .A2 {
     /* font-style: italic; */
     display: flex;
     flex-direction: column;
     flex: 2;
     border: 1px black solid;
     padding: 8px;
 }

 .A3 {
     display: flex;
     flex-direction: column;
     flex: 1;
     border: 1px black solid;
     padding: 4px;
 }


 .the-second {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     border: 2px black solid;

 }

 .B1 {
     display: flex;
     flex-direction: column;
     flex: 1;
     border: 1px black solid;
 }

 .B2 {
     color: gray;
     display: flex;
     flex-direction: column;
     flex: 1;
     border: 1px black solid;
 }